{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="row mt-5">
			{# Left Column #}
			<div class="col-9">
		  	Filterable view of featured products, with:
			  <ul>
				  <li>Creator</li>
				  <li>Event created for (with link if a story was completed)</li>
				  <li>Short blurb explaining process</li>
				  <li>Zipped file with final product and design assets</li>
			</div>
			{# Right Column #}
			<div class="col">
		  	Right (list of posts about work done as part of larger-profile disaster responses supported by SIMS)
			</div>
	  	</div>
	</div>
{% endblock content %}