alembic==1.7.7
amqp==5.1.1
APScheduler==3.10.0
Authlib==1.0.1
Babel==2.11.0
bcrypt==3.2.2
billiard==3.6.4.0
blinker==1.4
boto3==1.26.124
botocore==1.29.133
cachelib==0.9.0
celery==5.2.7
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==37.0.2
deepdiff==6.2.2
dnspython==2.2.1
dominate==2.6.0
dropbox==11.36.0
elastic-transport==8.1.2
elasticsearch==8.2.3
email-validator==1.2.1
Flask==2.1.2
Flask-Admin==1.6.0
Flask-APScheduler==1.12.4
flask-babel==3.0.1
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Caching==2.0.2
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-ReCaptcha==0.4.2
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
func-timeout==4.3.5
ghp-import==2.1.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.0.1
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.2.4
logtail==1.0.1
logtail-python==0.2.5
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
mergedeep==1.3.4
mimerender==0.6.0
msgpack==1.0.4
numpy==1.22.4
oauthlib==3.2.0
ordered-set==4.1.0
packaging==23.0
pandas==1.4.2
pdf2image==1.16.0
Pillow==9.1.1
ply==3.11
prompt-toolkit==3.0.38
psycopg2-binary==2.9.5
pycparser==2.21
python-dateutil==2.8.2
python-dotenv==0.20.0
python-mimeparse==1.6.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
requests-oauthlib==1.3.1
s3transfer==0.6.1
six==1.16.0
slack-sdk==3.19.2
SQLAlchemy==1.4.36
stone==3.3.1
svgwrite==1.4.2
Tree==0.2.4
tweepy==4.12.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
vine==5.0.0
visitor==0.1.3
watchdog==2.3.0
wcwidth==0.2.6
Werkzeug==2.1.2
wget==3.2
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
zipp==3.8.0
