{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row my-5">
	  <div class="col">
		  <div class="row row-cols-1 row-cols-md-5 g-4">
			<div class="col">
				<a href='https://learn-sims.org/docs/data-transformation-and-analysis'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_data_transformation.png" class="card-img-top" alt="Data Transformation">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Data Transformation & Analysis</h5>
				  <p class="card-text text-dark">Find, clean, transform, and make sense of complex datasets.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/web-visualization'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_web_viz.png" class="card-img-top" alt="Web Viz">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Web Visualization</h5>
				  <p class="card-text text-dark">Build fit-for-purpose dashboards that help stakeholders get vital information at a glance.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/geospatial'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_geo.png" class="card-img-top" alt="Geo">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Geospatial</h5>
				  <p class="card-text text-dark">Create maps that tell a story about the impact of the emergency and our response to it.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/information-design'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_info_des.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Information Design</h5>
				  <p class="card-text text-dark">Synthesize complex information to support planning and tell a cohesive story of the operation's impact.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/data-collection-and-survey-design'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_mobdata.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Data Collection & Survey Design</h5>
				  <p class="card-text text-dark">Build surveys and data pipelines to generate rich primary datasets.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/sims-remote-coordination'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_simsco.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">SIMS Remote Coordination</h5>
				  <p class="card-text text-dark">Effectively manage our global network of remote supporters as we collectively respond to activations.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/standard-operating-procedures'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_sops.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Standard Operating Procedures</h5>
				  <p class="card-text text-dark">Checklists and guides to help SIMS function in a predictable, repeatable, and efficient manner.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/style-guidance'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_style.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">Style Guidance</h5>
				  <p class="card-text text-dark">How to properly use standard colors, fonts, logos, and other visual elements and assets in products.</p>
				</div>
			  </div>
				</a>
			</div>
			<div class="col">
				<a href='https://learn-sims.org/docs/sims-portal-documentation'>
			  <div class="card h-100 border-0">
				<img src="/static/assets/img/km_banner_portal.png" class="card-img-top" alt="Information Design">
				<div class="card-body">
				  <h5 class="card-title Montserrat text-danger">SIMS Portal Documentation</h5>
				  <p class="card-text text-dark">Learn about how the SIMS Portal functions, how to troubleshoot issues, and how to get help.</p>
				</div>
			  </div>
				</a>
			</div>
		  </div>
	  </div>
	  </div>
</div>
{% endblock content %}