{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row my-5">
	  <div class="col-3">
		  <div class="card border-0 p-4 bg-light sticky-top">
			  <h2 class="text-danger mb-5">Doctrine & Resources</h2>
				  <div class="list-group">
					<a href="#" class="list-group-item list-group-item-action text-secondary">Standard Procedures</a>
					<a href="/resources/communication_collaboration" class="list-group-item list-group-item-action text-secondary">Communication and Collaboration</a>
					<a href="/resources/colors" class="list-group-item list-group-item-action text-secondary">Colors & Fonts</a>
					<a href="#" class="list-group-item list-group-item-action text-secondary">Logos & Icons</a>
					<a href="#" class="list-group-item list-group-item-action text-secondary">Basemap Styling</a>
					<a href="#" class="list-group-item list-group-item-action text-secondary">Language & Disclaimers</a>
					<a href="#" class="list-group-item list-group-item-action text-secondary">Product Templates</a>
					<a href="/resources/sims_portal" class="list-group-item list-group-item-action text-secondary">SIMS Portal Guide</a>
				</div>
			</div>
	  </div>
	  <div class="col">
		  <h2 class='my-4 text-danger'>Overview</h2>
		  <p>This Doctrine and Resources section is designed to provide quick access to key information relevant to how we work, collaborate, and produce products and services for response operations. The ways that we work evolve over time, and this section is periodically updated to reflect those changes. The learning process after an operation winds down is a vital part of the feedback mechanism for making these changes, so be sure to be constructive about what resources and support you feel the network would benefit from. <br><br>
		  
		  Much of this section focuses on standardizing the look and content of our products, but remember that the needs of an operation typically outweigh the importance of uniform visual styling. Whenever in doubt, communicate with the network directly for support in making decisions.
		  </p>
	  </div>
	  </div>
</div>
{% endblock content %}