{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class='row mt-5'>
		<div class='col col-md-3'>
			<img src='/static/assets/img/vincent-vega.gif' class='img-fluid'>
		</div>
		<div class='col'>
			<h2 class='text-danger Montserrat mb-2'>Something SIMS to be wrong here...</h2>
			<p><span class='fw-bold'>Error 404:</span> the page you requested does not exist. Just because SIMS is good at geospatial analysis doesn't mean we don't misplace things from time to time. Please reach out to Jonathan Garro if you're having trouble accessing something.</p>
		</div>
	</div>
</div>
{% endblock content %}