{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class='row my-5'>
		<div class='col col-md-3'>
			<img src='/static/assets/img/pump-brakes.gif' class='img-fluid'>
		</div>
		<div class='col ps-5'>
			<h2 class='text-danger Montserrat mb-2'>Whoa there!</h2>
			<p><span class='fw-bold'>Error 413:</span> The file you're trying to upload is too big. Someone's gotta pay server costs around here, and we can't just post your entire vacation photo album!</p>
			<p>Try uploading a smaller file or compressing what you've got. If you think you shouldn't be getting this message, please contact a site administrator</p>
		</div>
	</div>
</div>
{% endblock content %}


