{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="mt-4 alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4">
			<div class="card border-3 p-4 bg-light rounded rounded-4">
				<h5 class="text-secondary py-1 Montserrat">Report Your Availability For</h5>
				<h1 class="text-danger mb-5 emergency-title">{{disaster_info.emergency_name}}</h1>
				
				<h5 class="text-secondary py-1 Montserrat">How Availability Reporting Works</h5>
				<p class="text-secondary">Only select days when you can commit to volunteering to support on tasks that match your technical profile(s). You cannot edit these reports, but if you need to change previously submitted data, you can simply create a new one for the <a href="/availability/report/{{disaster_info.id}}">current week</a> or for <a href="/availability/report/next_week/{{disaster_info.id}}">next week</a>.</p>
			</div>
		</div>
		<div class="col mx-4">
				{% if report_type == 'current_week' %}
				<form method="POST" action='/availability/result/{{disaster_info.id}}'>
					<input type='hidden' name='availability_id' value='{{availability_id}}'><br>
					{% for date in readable_dates %}
					<label>
					  <input type="checkbox" class="mb-3 form-check-input bg-secondary" name="available" value="{{date}}" id="current_week">
					  <span class="fw-bold"><h3>{{ date }}</h3></span>
					</label>
					<br>
					{% endfor %}
					<input type="Submit" class="btn btn-outline-danger mt-3">
				</form>
				{% else %}
				<form method="POST" action='/availability/result/next_week/{{disaster_info.id}}'>
					<input type='hidden' name='availability_id' value='{{availability_id}}'><br>
					{% for date in readable_dates %}
					<label>
					  <input type="checkbox" class="mb-3 form-check-input bg-secondary" name="available" value="{{date}}" id="next_week">
					  <span class="fw-bold"><h3>{{ date }}</h3></span>
					</label>
					<br>
					{% endfor %}
					<input type="Submit" class="btn btn-outline-danger mt-3">
				</form>
				{% endif %}
		</div>
	</div>
</div>
{% endblock content %}