{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="mt-4 alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4">
			<div class="card border-3 p-4 bg-light rounded rounded-4">
				<h5 class="text-secondary py-1 Montserrat">Report Your Availability For</h5>
				<h1 class="text-danger mb-5 emergency-title"">{{disaster_info.emergency_name}}</h1>
				
				<h5 class="text-secondary py-1 Montserrat">How Availability Reporting Works</h5>
				<p class="text-dark">The date ranges you see on this form change depending on the day of the week when you fill it out. If you are filling this form out early in the week (Monday through Thursday), then you will only see the remaining dates for the current week, ending on Sunday. If you are filling this out later in the week (Friday through Sunday), then you will see the remaining dates for this current week <span class="fw-bold">and all of next week</span>.</p> 
				
				<p class="text-dark">When you check a day, that means you are committing to volunteering to support on tasks that match your technical profile.</p>
			</div>
		</div>
		<div class="col mx-4">
				<form method="POST" action='/availability/result/{{disaster_info.id}}'>
						<input type='hidden' name='availability_id' value='{{availability_id}}'><br>
					{% for date in readable_dates %}
						<!-- <input type='checkbox' class='mb-3' name='available' value='{{date}}' >&nbsp <span class='fw-bold'><h3>{{ date }}</h3></span><br> -->
						<label>
						  <input type="checkbox" class="mb-3 form-check-input bg-secondary" name="available" value="{{date}}">
						  <span class="fw-bold"><h3>{{ date }}</h3></span>
						</label>
						<br>
					{% endfor %}
					<input type="Submit" class="btn btn-outline-danger mt-3">
				</form>
		</div>
	</div>
</div>
{% endblock content %}