{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div id="hideMe">
        {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                   {% for category, message in messages %}
                       <div class="mt-4 alert alert-{{ category }}">
                           {{ message }} 
                       </div>
                   {% endfor %}
               {% endif %}
        {% endwith %}
    </div>
    <div class="row my-5">
    <div class="col-md-4">
        <h4 class="text-secondary mb-1 Montserrat">Your Reported Availability for</h4>
        <h2 class="text-danger Montserrat mb-4">{{emergency_info.emergency_name}}</h2>
            <p id="sidebar-guidance">This calendar displays the dates from the most recent report that you submitted. You cannot edit these reports, but if you need to change previously submitted data, you can simply create a new one for the <a href="/availability/report/{{emergency_info.id}}">current week</a> or for <a href="/availability/report/next_week/{{emergency_info.id}}">next week</a>.</p>
    
    </div>
    <div class="col">
        {% if available_dates %}
            <div id='calendar'></div>
            <script>
                let calendarEl = document.getElementById('calendar');
                
                let calendar = new FullCalendar.Calendar(calendarEl, {
                    events : [
                        {% for date in available_dates %}
                        {
                            title : 'Available',
                            start : '{{date}}',
                        },
                        {% endfor %}
                        ],
                    eventColor: 'red',
                    weekNumbers: true,
                    firstDay: 1,
                    });
                
                calendar.render();
            </script>
        {% else %}
        <div class="alert alert-secondary" role="alert">
          No dates selected. Use the links in the sidebar to report your availability.
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock content %}
