{% extends "layout.html" %}
{% block content %}
<div class="container mb-5">
	
	<div class="row my-5">
		<div class="col-md-10">
			<h1 class="" style="font-family: 'Montserrat'; color: #540C06">SIMS Badges</h1>
			<p class='lead'>Badges are manually assigned by SIMS Remote Coordinators or SIMS Portal Administrators to recognize special achievements and contributions made by members of the network. This page automatically calculates how common each badge is by dividing the number of badge assignments by the total active SIMS members. </p>
			<p class='lead'>There are regular badges that are always available for assignment, and badges that are only available for certain periods of time or under special circumstances. Scroll to the "Limited Edition" badges for more information.</p>
		</div>
		  <div class="col">
			<img src='/static/assets/img/badges/SIMS-Badge.png' class='img-fluid mt-3'>
		  </div>
	</div>

	<h2 class='Montserrat'>Regular Badges</h2>
	<a href='/badges#special-edition'>↓ Jump to Limited Edition Badges</a>
	
	{% for badge in list_assigned_badges %}
	<div class="row my-5" id={{badge.id}}>
		<div class="col-md-2">
			<img src='/uploads/{{ badge.badge_url }}' class='img-fluid'>
		</div>
		<div class="col ps-4">
			<h3 class='text-danger Montserrat mb-2'>{{badge.name}}</h3>
			{% if ((badge['count'] / count_active_members) * 100)|int >= 50%}
				<button class='btn btn-sm badge-common'>Common</button> &nbsp <span class='fw-bold text-secondary'>{{ ((badge['count'] / count_active_members) * 100)|int }}% of SIMS members have this badge</span>
			{% elif ((badge['count'] / count_active_members) * 100)|int < 50 and ((badge['count'] / count_active_members) * 100)|int >= 25%}
				<button class='btn btn-sm badge-unusual'>Unusual</button> &nbsp <span class='fw-bold text-secondary'>{{ ((badge['count'] / count_active_members) * 100)|int }}% of SIMS members have this badge</span>
			{% elif ((badge['count'] / count_active_members) * 100)|int < 25 and ((badge['count'] / count_active_members) * 100)|int >= 10%}
				<button class='btn btn-sm badge-rare'>Rare</button> &nbsp <span class='fw-bold text-secondary'>{{ ((badge['count'] / count_active_members) * 100)|int }}% of SIMS members have this badge</span>
			{% elif ((badge['count'] / count_active_members) * 100)|int <=9%}
				<button class='btn btn-sm badge-exrare'>Extremely Rare</button> &nbsp <span class='fw-bold text-secondary'>{{ ((badge['count'] / count_active_members) * 100)|int }}% of SIMS members have this badge</span>

			{% endif %}
	
			<div class="progress  my-3" style="height: 30px;">
				<div class="progress-bar bg-secondary" role="progressbar" style="width: {{ ((badge['count'] / count_active_members) * 100)|int }}%;" aria-valuenow="{{ ((badge['count'] / count_active_members) * 100)|int }}" aria-valuemin="0" aria-valuemax="100">{{ ((badge['count'] / count_active_members) * 100)|int }}%</div>
			</div>
			<p>{{badge.description}}</p>
		</div>
	</div>
	{% endfor %}
	
	<div class='row mt-5' id='special-edition'>
		<h2 class='Montserrat'>Limited Edition Badges</h2>
		{% for badge in all_limited_edition_badges %}
		<div class="row mt-5" id={{badge.id}}>
			<div class="col-md-2">
				<img src='/static/assets/img/badges/{{badge.name | replace(" ","-")}}.png' class='img-fluid'>
			</div>
			<div class="col ps-4">
				<h3 class='text-danger Montserrat mb-2'>{{badge.name}}</h3>
				<p>{{badge.description}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}