{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div id="hideMe">
	{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
			   {% for category, message in messages %}
				   <div class="mt-2 alert alert-{{ category }}">
					   {{ message }} 
				   </div>
			   {% endfor %}
		   {% endif %}
	{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col-md-4">
			<h4 class="text-secondary mb-1">Upload</h4>
			<h2 class="text-danger mb-4 Montserrat">New Product</h2>

				<h5 class="text-secondary Montserrat mt-4">Cover Image and File</h5>
				<p class="sidebar-guidance">There are two required uploads: a cover image and the actual file(s). The portal needs an image to display on portfolio views, and many files don't have visuals that the portal can create a thumbnail from (e.g. an Excel file). In order to have a visual representation of the product, you'll need to share a screenshot. If the product <span class='fw-bold'>is already visual in nature</span> (e.g. a PNG or JPEG map or infographic), then use that for the cover image.</p>
				
				<p class="sidebar-guidance">The file assets is where you'll upload your final product and supporting files <span class='fw-bold'> in a .zip file</span>. If you're uploading a map, for instance, you'd want to zip all your QGIS files, spreadsheets, and any other files necessary to recreate your product.</p>

				<h5 class="text-secondary Montserrat mt-4">Share Publicly</h5>
				<p class="sidebar-guidance">By default, products that are posted are saved to your assignment and visible on your profile page. If you want them to be visible on the emergency page's portfolio and to external visitors of the site, then they must be manually approved by the SIMS Remote Coordinator. Checking this box will place the product in a review queue for them.</p>


		</div>
		<div class="col">
			<form action="" method="POST" enctype="multipart/form-data" class="mx-auto p-4 bg-light text-light rounded-3" novalidate>
				{{ form.hidden_tag() }}
				<div class="row">
					<h4 class="text-secondary pb-3 Montserrat">All Fields Required</h4>
						<div class="col-md-6">
							<div class="form-group pb-4">
								{{ form.title.label(class="form-control-label pb-2 text-danger") }}
								{% if form.title.errors %}
									{{ form.title(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.title.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.title(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
					<div class="col">
						<div class="form-group pb-4">
							{{ form.type.label(class="form-control-label pb-2 text-danger") }}
							{% if form.type.errors %}
								{{ form.type(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.type.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.type(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
				</div>
				
					<div class="row">

							<div class="form-group pb-4">
								{{ form.description.label(class="form-control-label pb-2 text-danger") }}
								
								{% if form.description.errors %}
									{{ form.description(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.description.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.description(class="form-control form-control-lg") }}
								{% endif %}
							</div>
					</div>
					
					<div class='row'>
						<div class="form-group pb-4">
							{{ form.image_file.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.image_file.errors %}
								{{ form.image_file(class="form-control form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.image_file.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.image_file(class="form-control form-control-") }}
							{% endif %}
						</div>
					</div>
					
					<div class='row'>
						<div class="form-group pb-4">
							{{ form.file.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.file.errors %}
								{{ form.file(class="form-control form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.file.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.file(class="form-control form-control") }}
							{% endif %}
						</div>
					</div>
					<div class='row'>
						<div class="form-group pb-2">
							{{ form.external(class="form-check-input") }}
							{{ form.external.label(class="form-check-label text-danger") }}
						</div>
					</div>
					<br>
				{{ form.submit(class="btn btn-outline-danger") }}
			</form>
		</div>
	</div>
</div>
{% endblock content %}