{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="mt-2 alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col-md-4">
			<h4 class="text-secondary mb-1 Montserrat">Create New</h4>
			<h2 class="text-danger Montserrat mb-4">Assignment</h2>
				<h5 class="text-danger Montserrat">Assign Member</h5>
				<p id="sidebar-guidance">The list contains active members. If you don't see the name you're looking for, they may still be pending.</p>

				<h5 class="text-danger Montserrat">Role Type</h5>
				<p id="sidebar-guidance">Use "Remote IM Support" for any non-deployed volunteer support being provided (except for SIMS Coordinators, which have their own option).</p>
				
				<h5 class="text-secondary Montserrat">Start and End Dates (Conditional)</h5>
				<p id="sidebar-guidance">Remote IM Supporters don't track time by start and end date. If you select any other role, either a field deployment or a SIMS Remote Coordinator, date fields appear. In these cases, use the same dates as the person's official deployment information from the surge desk.</p>
				
				<h5 class="text-secondary Montserrat">Assignment Description (Optional)</h5>
				<p id="sidebar-guidance">Provide general overview of assignment. Mention if this is a second/third round, what this person is doing, where they deployed (if applicable), etc. Though this field is optional, it is strongly encouraged that you fill it in to better support data management and historical reporting.</p>

		</div>
		<div class="col">
			<form action="" method="POST" class="mx-auto p-4 bg-light text-light rounded-3 border border-3" novalidate>
				{{ form.hidden_tag() }}
				<div class="row">
					<h4 class="text-danger Montserrat pb-3">{{emergency_info.emergency_name}}</h4>
						<div class="col-md-6">
							<div class="form-group pb-4">
								{{ form.user_id.label(class="form-control-label pb-2 text-danger") }}
								{% if form.user_id.errors %}
									{{ form.user_id(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.user_id.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.user_id(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
					<div class="col">
						<div class="form-group pb-4">
							{{ form.role.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.role.errors %}
								{{ form.role(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.role.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.role(class="form-control form-control-lg", id="role-select") }}
							{% endif %}
						</div>
					</div>
				</div>
				
				<div class="row" id="assignment-dates" style="display: none;">
					<div class="row">
						<div class="col-6">
							<div class="form-group pb-4">
								{{ form.start_date.label(class="form-control-label pb-2 text-secondary") }}
								{{ form.start_date(class="form-control form-control-lg", type="date") }}
							</div>
						</div>
						<div class="col-6">
							<div class="form-group pb-4">
								{{ form.end_date.label(class="form-control-label pb-2 text-secondary") }}
								{{ form.end_date(class="form-control form-control-lg", type="date") }}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="form-group pb-4">
							{{ form.assignment_details.label(class="form-control-label pb-2 text-secondary") }}
							
							{% if form.assignment_details.errors %}
								{{ form.assignment_details(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.assignment_details.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.assignment_details(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
				</div>
				{{ form.submit(class="btn btn-outline-danger") }}
			</form>
		</div>
	</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
	var roleSelect = document.getElementById("role-select");
	var assignmentDatesDiv = document.getElementById("assignment-dates");

	roleSelect.addEventListener("change", function() {
	  var selectedValue = roleSelect.value;
	  if (selectedValue !== 'Remote IM Support') {
		assignmentDatesDiv.style.display = "block";
	  } else {
		assignmentDatesDiv.style.display = "none";
	  }
	});
  });
</script>

{% endblock content %}