{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div id="hideMe">
	{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
			   {% for category, message in messages %}
				   <div class="mt-2 alert alert-{{ category }}">
					   {{ message }} 
				   </div>
			   {% endfor %}
		   {% endif %}
	{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col-md-4 pe-5">
			<h4 class="text-secondary Montserrat mb-1">Upload</h4>
			<h2 class="text-danger mb-4 Montserrat">New Product</h2>

				<h5 class="text-secondary Montserrat mt-4">Product Title and Description</h5>
				<p class="sidebar-guidance">Give the product a short but descriptive title. Use the description box to explain what the product was designed for, how it was used, your process for creating it, and any other relevant information.</p>

				<h5 class="text-secondary Montserrat mt-4">Cover Image and Final Product</h5>
				<p class="sidebar-guidance">The <span class='fw-bold'>Final Product and File Assets</span> will be where you upload the actual product. If your product has multiple files (e.g. a QGIS file for the basemap and an AI file with the polished layout), then zip them together. It is recommended to upload a screenshot on the <span class='fw-bold'>Attach Cover Image</span> field, either as a PNG or JPEG, so that viewers can preview what the final product is. <span class='fw-bold'>If you do not upload a cover image, then the system will show a generic placeholder image based on the file type.</span></p>

				<h5 class="text-secondary Montserrat mt-4">Share Publicly</h5>
				<p class="sidebar-guidance">By default, products that you post are saved to your assignment and visible on your profile page. If you want them to be visible on the emergency page's portfolio and to external visitors of the site, then they must be manually approved by the SIMS Remote Coordinator for this emergency. Checking this box will place the product in a review queue for them.</p>


		</div>
		<div class="col">
			<form action="" method="POST" enctype="multipart/form-data" class="mx-auto p-4 bg-light text-light rounded-3 border border-3" novalidate>
				{{ form.hidden_tag() }}
					<div class="row">
						<div class="form-group pb-4">
							{{ form.title.label(class="form-control-label pb-2 text-danger") }}
							{% if form.title.errors %}
								{{ form.title(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.title.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.title(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
						<div class="row">
								<div class="form-group pb-4">
									{{ form.description.label(class="form-control-label pb-2 text-danger") }}
									
									{% if form.description.errors %}
										{{ form.description(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.description.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
									{% else %}
										{{ form.description(class="form-control form-control-lg") }}
									{% endif %}
								</div>
						</div>
					<div class='row'>
						<div class="col">
							<div class="form-group pb-4">
								{{ form.type.label(class="form-control-label pb-2 text-danger") }}
								{% if form.type.errors %}
									{{ form.type(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.type.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.type(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
						<div class="col">
							<div class="form-group pb-4">
								{{ form.format.label(class="form-control-label pb-2 text-danger") }}
								{% if form.format.errors %}
									{{ form.format(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.format.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.format(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
					</div>
					<div class='row'>
						<div class="form-group pb-4">
							{{ form.image_file.label(class="form-control-label pb-2 text-secondary") }}
							
							{% if form.image_file.errors %}
								{{ form.image_file(class="form-control form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.image_file.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.image_file(class="form-control form-control-") }}
							{% endif %}
						</div>
					</div>
					
					<div class='row'>
						<div class="form-group pb-4">
							{{ form.file.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.file.errors %}
								{{ form.file(class="form-control form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.file.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.file(class="form-control form-control") }}
							{% endif %}
						</div>
					</div>
					<div class='row'>
						<div class="form-group pb-2">
							{{ form.external(class="form-check-input") }}
							{{ form.external.label(class="form-check-label text-danger") }}
						</div>
					</div>
					<br>
				{{ form.submit(class="btn btn-outline-danger") }}

				<div class="alert alert-warning mt-3" role="alert">When uploading, your file will be sent to the Dropbox account that stores files for the SIMS Portal, which may take a few moments. Do not navigate away from this page or hit "Upload" again until the page changes.</div>

			</form>
		</div>
	</div>
</div>
{% endblock content %}