{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="mt-4" id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col-md-4">
			<h5 class="text-secondary Montserrat mb-1">Create New</h5>
			<h2 class="text-danger Montserrat mb-4">Operation Review Record</h2>
				<h5 class="text-secondary text-danger Montserrat">Title</h5>
				<p class="sidebar-guidance">Give a short and succinct name to the observation you wish to share.</p>

				<h5 class="text-secondary text-danger Montserrat">Type</h5>
				<p class="sidebar-guidance">Choose the most applicable type from the dropdown. If none apply, select "Other".</p>

				<h5 class="text-secondary text-danger Montserrat">Category</h5>
				<p class="sidebar-guidance"><span class='fw-bold'>Success</span> refers to something from this response that think should be replicated in the future. <span class='fw-bold'>Area for Improvement</span> refers to something that you think was a challenge that the SIMS Network should address in order to more effectively support responses in the future. <span class='fw-bold'>General Observation</span> can be used when you wish to share feedback that doesn't fit into either of these.</p>

				<h5 class="text-secondary text-danger Montserrat">Description</h5>
				<p class="sidebar-guidance">Clearly explain your feedback. Provide context to someone that isn't familiar with the operation. If you're sharing a success, explain why you think the process worked and how it can be replicated. If you're sharing an area for improvement, explain why you found the issue to be a challenge. </p>

				<h5 class="text-secondary Montserrat">Recommended Action (Optional)</h5>
				<p class="sidebar-guidance">Share your thoughts if you have an idea about how to operationalize the success or address the area for improvement.</p>
		</div>
		<div class="col">
			<form action="" method="POST" class="mx-auto p-4 bg-light text-light rounded-3" novalidate>
				{{ form.hidden_tag() }}
				<div class="row">
					<h5 class='text-secondary Montserrat'>Reviewing</h5>
					<h4 class="text-danger Montserrat pb-3">{{emergency_info.emergency_name}}</h4>
						<div class="col">
							<div class="form-group pb-4">
								{{ form.title.label(class="form-control-label pb-2 text-danger") }}
								{% if form.title.errors %}
									{{ form.title(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.title.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.title(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
				</div>
				<div class='row'>
					<div class="col">
						<div class="form-group pb-4">
							{{ form.type.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.type.errors %}
								{{ form.type(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.type.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.type(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
					<div class='col'>
						<div class="form-group pb-4">
							{{ form.category.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.category.errors %}
								{{ form.category(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.category.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.category(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group pb-4">
							{{ form.description.label(class="form-control-label pb-2 text-danger") }}
							
							{% if form.description.errors %}
								{{ form.description(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.description.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.description(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group pb-4">
							{{ form.recommendation.label(class="form-control-label pb-2 text-secondary") }}
							
							{% if form.recommendation.errors %}
								{{ form.recommendation(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.recommendation.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
							{% else %}
								{{ form.recommendation(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
				</div>
				{{ form.submit(class="btn btn-outline-danger") }}
			</form>
			{% if existing_reviews %}
			<div class='p-4'>
				<h5 class='text-secondary Montserrat my-3'>Existing Reviews</h5>
		  		<table class='table table-striped mt-4'>
			  		<thead>
				  		<tr>
					  		<th>Title</th>
					  		<th>Category</th>
					  		<th>Type</th>
				  		</tr>
			  		</thead>
			  		<tbody>
				  		{% for review in existing_reviews %}
					  		<tr>
						  		<td><a href='/operation_review/view/{{review.id}}'>{{review.title}}</a></td>
						  		<td>{{review.category}}</td>
						  		<td>{{review.type}}</td>
					  		</tr>
				  		{% endfor %}
			  		</tbody>
		  		</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}