<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="mt-2" id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4">
			<div class="card p-4 bg-light">
				<h5 class="text-secondary py-1 Montserrat">Response Operation</h5>
				<h1 class="text-danger mb-5 emergency-title">{{ emergency_info.Emergency.emergency_name}}</h1>

				{% if  emergency_info.Emergency.emergency_status == 'Active' %}
				
				<div class="d-flex flex-row bd-highlight align-items-center">
					<div class="bd-highlight"><img src='/static/assets/img/active-emergency.png'></a></div>
					<div class="ps-4 bd-highlight"><span class='lead' id='emergency-story-link'>Active Response</span></div>
				</div>
				
				{% elif  emergency_info.Emergency.emergency_status == 'Removed' %}
				
				<div class="d-flex flex-row bd-highlight align-items-center">
					<div class="bd-highlight"><img src='/static/assets/img/closed-emergency.png'></a></div>
					<div class="ps-4 bd-highlight"><span class='lead' id='emergency-story-link'>Deleted Record</span></div>
				</div>
				
				{% else %}

				<div class="d-flex flex-row bd-highlight align-items-center">
					<div class="bd-highlight"><img src='/static/assets/img/closed-emergency.png'></a></div>
					<div class="ps-4 bd-highlight"><span class='lead' id='emergency-story-link'>Closed Response</span></div>
				</div>
				
				{% endif %}
				
			</div>
			<br>
			<!-- Main sidebar buttons -->
			<div class="card p-4 bg-light">
				<h5 class="text-secondary py-2 Montserrat">Available Actions</h5>
				<ul class="list-group border-0">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="/assignment/new/{{emergency_info.Emergency.id}}" class="text-secondary">Log New Assignment</a>
					</li>
					{% if (pending_products|length > 0 and user_is_sims_co) or (pending_products|length > 0 and current_user.is_admin == 1) %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="/portfolio/review/{{emergency_info.Emergency.id}}" class="text-secondary">Review Products</a>
						<span class="badge bg-danger rounded-pill"><a href="#" class='text-light'>{{pending_products|length}}</a></span>
					</li>
					{% endif %}
					{% if user_is_sims_co %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="/badge_assignment_simsco/{{emergency_info.Emergency.id}}" class="text-secondary">Assign Badges</a>
						<span class="badge bg-secondary rounded-pill"><a href="/resources/sims_portal#badges" class='text-light'>?</a></span>
					</li>
					{% endif %}
					{% if user_is_sims_co %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="/operation_review/new/{{emergency_info.Emergency.id}}" class="text-secondary">Review Operation</a>
						<span class="badge bg-secondary rounded-pill"><a href="/resources/sims_portal#op-learning" class='text-light'>?</a></span>
					</li>
					{% endif %}
					{% if check_for_story %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href='/story/{{emergency_info.Emergency.id}}' class="text-secondary">View Response Story</a>
					</li>
					{% endif %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="https://go.ifrc.org/emergencies/{{ emergency_info.Emergency.emergency_go_id }}" class="text-secondary">View Emergency on GO</a>
					</li>
				</ul>
				<br>
				<ul class='list-group  border-0'>
					{% if current_user.is_admin == 1 or user_is_sims_co %}
					<h5 class="text-secondary pt-3 pb-2 Montserrat">Record Management</h5>
						{% if check_for_story %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<a href="/story/edit/{{emergency_info.Emergency.id}}" class="text-secondary">Edit Response Story</a>
						</li>
						{% else %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<a href="/story/create/{{emergency_info.Emergency.id}}" class="text-secondary">Create Response Story</a>
						</li>
						{% endif %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="/emergency/edit/{{emergency_info.Emergency.id}}" class="text-secondary">Edit Emergency</a>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="#" class="text-secondary" data-toggle="modal" data-target="#confirm-closeout">Closeout Emergency</a>
						<span class="badge bg-secondary rounded-pill"><a href="/resources/sims_portal#close-out" class='text-light'>?</a></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="#" class="text-danger" data-toggle="modal" data-target="#confirm-delete">Delete Emergency</a>
					</li>
					{% endif %}
				</ul>
		<!-- Modal for Closeout -->
		<div class="modal fade" id="confirm-closeout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="closeoutModal">Closeout this Emergency</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<span class=''>Closing out an emergency in the portal means that SIMS has completed the response phase, all support has ended, and no further assignments will occur. Contributions to learning processes will still be available.</span>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
					<a href="/emergency/closeout/{{emergency_info.Emergency.id}}"><button type="button" class="btn btn-danger">Closeout</button></a>
				  </div>
				</div>
			  </div>
			</div>
		<!-- Modal for Delete -->
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="deleteModal">Delete the Emergency?</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					  <span>Deleting an emergency marks it as "Removed". Records that link to it will remain, as will data associated with this emergency, but it will not appear in the portfolio. Only delete emergencies that we don't want to see in our operational history.</span>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
					  <a href="/emergency/delete/{{emergency_info.Emergency.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!-- End main sidebar buttons -->
			<br>
			<div class="card p-4 bg-light">
				<h5 class="text-secondary py-2 Montserrat">Response Tools</h5>
				<div class="row mt-3 justify-content-center">
					{% if emergency_info.Emergency.slack_channel == None or emergency_info.Emergency.slack_channel == '' %}
					<div class="col" align="center"><img src="/static/assets/img/icons/slack.png" height="50px"></div>
					{% else %}
					<div class="col" align="center"><a href='https://slack.com/app_redirect?channel={{emergency_info.Emergency.slack_channel}}'><img src="/static/assets/img/icons/slack-selected.png" height="50px"></a></div>
					{% endif %}
					
					{% if emergency_info.Emergency.dropbox_url == None or emergency_info.Emergency.dropbox_url == '' %}
					<div class="col" align="center"><img src="/static/assets/img/icons/dropbox.png" height="50px"></div>
					{% else %}
					<div class="col" align="center"><a href='{{emergency_info.Emergency.dropbox_url}}'><img src="/static/assets/img/icons/dropbox-selected.png" height="50px"></a></div>
					{% endif %}
					
					{% if emergency_info.Emergency.trello_url == None or emergency_info.Emergency.trello_url == '' %}
					<div class="col" align="center"><img src="/static/assets/img/icons/trello.png" height="50px"></div>
					{% else %}
					<div class="col" align="center"><a href='{{emergency_info.Emergency.trello_url}}'><img src="/static/assets/img/icons/trello-selected.png" height="50px"></a></div>
					{% endif %}
				</div>
				<div class='row mt-5'>
					<div class='col'>
						<div class='text-danger'>■ Tool linked</div>
					</div>
					<div class='col'>
						<div class='text-secondary'>■ Tool not linked</div>
					</div>
				</div>
			</div>
			<br>
			<div class="card p-4 bg-light">
				<h5 class='text-secondary mb-3 Montserrat'>{{emergency_info.NationalSociety.country_name}}</h5>

				<img id='flag-image' src='https://flagcdn.com/h240/{{emergency_info.NationalSociety.iso2|lower}}.png' class='img-fluid mb-3'>
				<ul class="list-group border-0">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="https://go.ifrc.org/countries/{{emergency_info.NationalSociety.ns_go_id}}" class="text-secondary">{{emergency_info.NationalSociety.country_name}} on GO</a>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="https://reliefweb.int/country/{{emergency_info.NationalSociety.iso3}}" class="text-secondary">{{emergency_info.NationalSociety.country_name}} on ReliefWeb</a>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="https://data.humdata.org/group/{{emergency_info.NationalSociety.iso3|lower}}" class="text-secondary">{{emergency_info.NationalSociety.country_name}} on HDX</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div class="col mx-4">
			{% if (pending_products|length > 0 and user_is_sims_co) or (pending_products|length > 0 and current_user.is_admin == 1) %}
			<div class="alert alert-warning alert-dismissible fade show mb-5" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			  There are {{pending_products|length}} products pending approval. <a href="/portfolio/review/{{emergency_info.Emergency.id}}" class="text-danger fw-bold">Review the products here</a>.
			</div>
			{% endif %}
			
			<ul class="nav nav-tabs mb-5" id="emergencyNav" role="tablist">
				<li class="nav-item" role="presentation">
				<button class="nav-link active text-danger" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true"><h5>Overview</h5></button>
				</li>
				{% if values|length > 0 %}
				<li class="nav-item" role="presentation">
				<button class="nav-link text-danger" id="availability-tab" data-bs-toggle="tab" data-bs-target="#availability" type="button" role="tab" aria-controls="availability" aria-selected="false"><h5>Availability</h5></button>
				</li>
				{% endif %}
				<li class="nav-item" role="presentation">
				<button class="nav-link text-danger" id="learning-tab" data-bs-toggle="tab" data-bs-target="#learning" type="button" role="tab" aria-controls="learning" aria-selected="false"><h5>Learning</h5></button>
				</li>
			</ul>
			<div class="tab-content" id="emergencyContent">
			  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
			  {% if emergency_info.Emergency.activation_details|length == 0 %}
			  
				  {% else %}
					  <h3 class="text-dark mt-4 emergency-title">Activation Details</h3>
					  <p class="pb-3">{{emergency_info.Emergency.activation_details}}</p>
				  {% endif %}
				  <div class='mb-5'>
					  {% if deployment_history_count == 0 %}
					  <h3 class="mb-3 text-dark emergency-title">Member Support: <span class='text-danger'>{{ deployment_history_count }}</span></h3>
					  {% else %}
					  <h3 class="text-dark emergency-title mb-3">Member Support: <span class='text-danger'>{{ deployment_history_count }}</span></h3>
					  <table class="table">
						<thead class="">
						  <tr>
							<th>Member</th>
							<th>National Society</th>
							<th>Assignment</th>
							<th>Start Date</th>
					  
						  </tr>
						</thead>
						<tbody>
							{% for deployment in deployments %}
							<tr>
							  <td class="fw-bold"><a href="/profile/view/{{deployment.Assignment.user_id}}" class="link-danger">{{deployment.User.firstname}} {{deployment.User.lastname}}</a></td>
							  <td>{{deployment.NationalSociety.ns_name}}</td>
							  <td><a href='/assignment/{{deployment.Assignment.id}}'>{{deployment.Assignment.role}}</a></td>
							  <td>{{deployment.Assignment.start_date}}</td>  
							</tr>
							{% endfor %}
						</tbody>
					  </table>
					  <p class='mt-4'><a href='/emergency/gantt/{{emergency_info.Emergency.id}}'><button type="button" class='btn btn-danger text-light'>View as Gantt Chart</button></a></p>
					  {% endif %}
				  </div>
				  <h3 class="mb-1 text-dark mb-4 emergency-title">Response Products: <span class='text-danger'>{{ emergency_portfolio_size }}</span></h3>
				  <div class="row row-cols-3 row-cols-md-3 g-4 mb-4">
				  {% for product in emergency_portfolio %}
					  <div class="col d-flex align-items-stretch">
						  <a href="/portfolio/view/{{product.Portfolio.id}}">
						  <div class="card" id='portfolio-card' style="width: 18rem;">
							  {% if '.pdf' in product.Portfolio.final_file_location %}
							  <img src="/static/assets/portfolio/placeholder.png" class="card-img-top" alt="PDF Placeholder Thumbnail">
							  {% else %}
							  <img src="/static/assets/portfolio/{{product.Portfolio.final_file_location}}" class="card-img-top" alt="...">
							  {% endif %}
							  <div class="card-body d-flex flex-column">
									<div class='pb-4'><button type="button" class="btn btn-secondary btn-sm">{{product.Portfolio.type}}</button></div>
									<h5 class="card-title mt-auto text-danger">{{product.Portfolio.title}}</h5>
						  </a>
					  </div>
				  </div>
			  </div>
				  {% endfor %}
			  </div>
				  {% if emergency_portfolio_size > 3 %}
				  <div class='mb-5'>
					  <a href='/portfolio/emergency_more/{{emergency_info.Emergency.id}}'><button type="button" class="btn btn-danger">View All Products Posted for this Operation</button></a>
				  </div>
				  {% endif %}
			  </div>

			  <div class="tab-pane fade" id="availability" role="tabpanel" aria-labelledby="availability-tab">
			  <canvas id='availabilityThisEmergency' width='600' height='800'></canvas>
			  <script>
				var ctx = document.getElementById('availabilityThisEmergency').getContext('2d');
				var lineChart = new Chart(ctx, {
				  type: 'bar',
				  data: {
					labels: {{ labels | safe }},
					datasets: [{
					  label: "Aggregated Availability",
					  data: {{ values | safe }},
					  fill: true,
					  backgroundColor: "#dc3545"
					}]
				  },
				  options: {
					plugins: {
					  legend: true,
					},
					responsive: true,
					indexAxis: 'y',
					scales: {
					  y: {
						ticks: {
						  stepSize: 1
						},
						grid: {
						  display: false
						}
						
					  },
					  x: {
						ticks: {
						  stepSize: 1
						},
					  suggestedMax: 5,
					  grid: {
						display: true
						}
					  }
					  
					}
				  }
				})
			  </script>

			  </div>
			  <div class="tab-pane fade" id="learning" role="tabpanel" aria-labelledby="learning-tab">
				 <h3 class="text-dark my-4 emergency-title">Assignment Reviews &nbsp<span style='font-size: .9rem'><a href='/resources/sims_portal#individual-learning'>What's This?</a></span></h3>
				 {% if learning_count == 0 %}
				 No assignment reviews have been submitted for this response. See the Learning section of the SIMS Portal for aggregated data related to past operational learning.
				 {% elif learning_count > 2 %}
				 
				 <p>There have been <span class='text-danger fw-bold'>{{learning_count}}</span> assignment reviews completed, which is over the specified threshold to display this data. </p>
				 <canvas id='barChartLearningAssignment' width='600' height='500'></canvas>
				   <script>
					   var ctx = document.getElementById('barChartLearningAssignment').getContext('2d');
					   var lineChart = new Chart(ctx, {
						   type: 'bar',
						   data: {
							   labels: {{ learning_keys | safe }},
							   datasets: [{
								   label: "Average Scores for this Emergency",
								   data: {{ learning_values | safe }},
								   fill: true,
								   backgroundColor: "#dc3545"
							   },
						   {
								 label: "Average Score for All Emergencies",
								 data: {{ avg_learning_values | safe }},
								 fill: true,
								 backgroundColor: "#ABABAB"
							 }]
						   },
						   options: {
							   plugins: {
								   legend: true,
							   },
							   responsive: true,
							   indexAxis: 'y',
							   scales: {
								   y: {
									   ticks: {
										   stepSize: 1
									   },
									   grid: {
										   display: false
									   }
									   
								   },
								   x: {
									   ticks: {
											 stepSize: 1
										 },
									 suggestedMax: 5,
									 grid: {
										 display: true
									   }
								   }
								   
							   }
						   }
					   })
				   </script>
				 {% else %}  
				 <p>There have been <span class='text-danger fw-bold'>{{learning_count}}</span> assignment reviews completed, which is under the specified threshold to display this data. This is done to protect the identities of people who have provided their feedback.</p>
				 {% endif %}
				 <h3 class="text-dark my-4 emergency-title">Operational Reviews &nbsp<span style='font-size: .9rem'><a href='/resources/sims_portal#op-learning'>What's This?</a></span></h3>
				   {% if existing_reviews %}
				   <table class='table table-striped mt-4'>
					   <thead>
						   <tr>
							   <th>Title</th>
							   <th>Category</th>
							   <th>Type</th>
						   </tr>
					   </thead>
					   <tbody>
						   {% for review in existing_reviews %}
							   <tr>
								   <td><a href='/operation_review/view/{{review.id}}'>{{review.title}}</a></td>
								   <td>{{review.category}}</td>
								   <td>{{review.type}}</td>
							   </tr>
						   {% endfor %}
					   </tbody>
				   </table>
				   {% else %}
				   <p>There are no operational reviews completed yet for this emergency. The SIMS Remote Coordinator(s) for this operation are the only users that can complete them - reach out to them if you'd like to add to the learning for this response!</p>
				   {% endif %}
			  </div>
			</div>
			
			{% if response_length %}
			<div class='row mt-5'>
				<h3 class="text-dark" id='emergency-title'>Trello Cards Under 'Doing' <span class="badge rounded-pill bg-danger" id="smallbadge">{{response_length}}</span></h3> 
				<div class="row row-cols-3 row-cols-md-3 g-4 mt-3">
				{% for card in response %}
				<div class="col d-flex align-items-stretch">
					<div class="card bg-light" style="width: 18rem;">
						<div class="card-header">{{card['name']}}</div>
				  		<div class="card-body d-flex flex-column">
							<p class="card-text">{{ card['desc']|markdown|truncate(100) }}</p>
				  		</div>
				  		<div class="card-body d-flex flex-column">
							<a href="{{card['url']}}" class="card-link mt-auto">View Card</a>
				  		</div>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}