{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="py-3" id="hideMe">
	{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
			   {% for category, message in messages %}
				   <div class="alert alert-{{ category }}">
					   {{ message }} 
				   </div>
			   {% endfor %}
		   {% endif %}
	   {% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4 rounded rounded-3">
			<div class="card border border-3 p-4 bg-light">
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Operation Review Record For</h5>
					<h3 class="text-danger Montserrat mb-5"><a href='/emergency/{{emergency_info.Emergency.id}}'>{{emergency_info.Emergency.emergency_name}}</a></h3>
				</div>
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Type</h5>
					<h4 class="text-dark Montserrat mb-5">{{record.type}}</h4>
				</div>
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Category</h5>
					<h4 class="text-dark Montserrat mb-5">{{record.category}}</h4>
				</div>
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Learning Status</h5>
					<h4 class="text-dark Montserrat">{{record.status}}</h4>
				</div>
			</div>
		</div>
		<div class="col mx-4">
			<div class='mb-5'>
				<div class="row mt-4">

					<h4 class="text-danger Montserrat mb-5">{{record.title}}</h4>
				</div>
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Description</h5>
					<p class="text-dark mb-5">{{record.description}}</p>
				</div>
				{% if record.recommended_action %}
				<div class="row">
					<h5 class="text-secondary portfolio-title mb-1">Recommendation</h5>
					<p class="text-dark mb-5">{{record.recommended_action}}</p>
				</div>
				{% endif %}

				<div class="row">
					<form action="" method="POST" class="mx-auto py-4 text-light rounded-3" novalidate>
					{{ form.hidden_tag() }}
					<h5 class="text-secondary portfolio-title mb-3">SIMS Governance Follow-Up</h5>
					<div class="form-group pb-4">						
						{% if form.follow_up.errors %}
							{{ form.follow_up(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.follow_up.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.follow_up(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</div>
					{{ form.submit(class="btn btn-danger") }}
					</form>
					<a href='/operation_review/drop/{{record.id}}'><button class='btn btn-outline-secondary mx-2'>Reject</button></a>
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}