	<!-- Random image picker for login page -->
<script type="text/javascript">
	ImageArray = new Array();
	ImageArray[0] = 'login-afg-assess.jpg';
	ImageArray[1] = 'login-afg-vol.jpg';
	ImageArray[2] = 'login-bha-truck.jpg';
	ImageArray[3] = 'login-ukr-vol.jpg';
	ImageArray[4] = 'login-vct-vest.jpg';

function getRandomImage() {
	var num = Math.floor( Math.random() * 5);
	var img = ImageArray[num];
	document.getElementById("randImage").innerHTML = ('<img src="' + 'static/assets/img/' + img + '" class="img-fluid rounded ">')
}
</script>

{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
	<div id="hideMe">
	{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
			   {% for category, message in messages %}
				   <div class="py-3 alert alert-{{ category }}">
					   {{ message }} 
				   </div>
			   {% endfor %}
		   {% endif %}
	   {% endwith %}
	</div>
	<div class="row">
		<div class="col mr-4">
			<div id="randImage"></div>
		</div>
		<div class="col-md-4">
			
			<form action="" method="POST" class="mx-auto p-4 bg-light border border-3 text-light rounded-3" novalidate>
				{{ form.hidden_tag() }}
			<h2 class="text-danger pb-4 Montserrat">Member Login</h2>
			<div class="form-group pb-4">
				{{ form.email.label(class="form-control-label pb-2 text-danger") }}
				
				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group pb-4">
				{{ form.password.label(class="form-control-label pb-2 text-danger") }}
				
				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			{{ form.submit(class="btn btn-danger") }}
			<small class="text-muted"><a href="{{url_for('users.reset_request')}}" class="link-danger"> &nbsp; Forgot Password?</a></small>
			</form>
			
			<div class="mx-auto mt-3 mb-5 p-4 bg-light border border-3 rounded-3">
				<h2 class="text-danger pb-4 Montserrat">New Users</h2>
			  <p>SIMS membership is managed by a small governance committee. If you are interested in supporting SIMS, begin by completing the sign up form below. A member of the committee will reach out about onboarding if you are accepted.</p><br>
			  <a class="btn btn-danger" href="register" role="button" style="color: white">Sign Up</a>
			</div>
		</div>
		
	</div>
</div>

{% endblock content %}
