{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="py-3" id="hideMe">
	{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
			   {% for category, message in messages %}
				   <div class="alert alert-{{ category }}">
					   {{ message }} 
				   </div>
			   {% endfor %}
		   {% endif %}
	   {% endwith %}
	</div>
	<div class="row">
		<div class="col mr-4">
			<img src="/static/assets/img/login-main.jpg" class="img-fluid mb-4 rounded-3" alt="Photo of Bahamas Red Cross volunteer">
		</div>
		<div class="col-md-4">
			<form action="" method="POST" class="mx-auto p-4 bg-light text-light rounded-3">
				{{ form.hidden_tag() }}
			<h2 class="text-danger pb-4">Member Login</h2>
			<div class="form-group pb-4">
				<label class="pb-2 text-danger" for="email">Email</label>
				<input type="text" name="email" class="form-control">
			</div>
			<div class="form-group pb-4">
				<label class="pb-2 text-danger" for="password">Password</label>
				<input type="password" name="password" class="form-control">
			</div>
			<div class="form-check">
				{{ form.remember(class="form-check-input") }}
				{{ form.remember.label(class="form-check-label text-danger") }}
			</div>
			<div class="form-group pb-3">
				<input type="submit" value="Login" class="btn btn-danger mt-3">
			</div>
			<small class="text-muted">
				<a href="{{url_for('users.reset_request')}}" class="link-danger">Forgot Password?</a>
			</small>
			</form>
			
			<div class="mx-auto mt-3 mb-5 p-4 bg-light rounded-3">
				<h2 class="text-danger pb-4">New Users</h2>
			  <p>SIMS membership is managed by a small governance committee. If you are interested in supporting SIMS, begin by completing the sign up form below. A member of the committee will reach out about onboarding if you are accepted.</p><br>
			  <a class="btn btn-danger" href="register" role="button">Sign Up</a>
			</div>
		</div>
		
	</div>
</div>

{% endblock content %}
