{% extends "layout.html" %}
{% block content %}
<div class="container mb-5">
	<h3 class="mt-5 Montserrat" id='sims-blue'>Active Members</h3>
	<p class="lead">Click on a card to view their profile. <a href="/register" class="text-danger">Learn more</a> about SIMS membership.</p>
	<div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-2 g-4 mt-4">
		{% for member in members %}
			  <div class="col d-flex align-items-stretch">
				  <a href='/profile/view/{{member.user_id}}' class='text-dark'>
				<div class="card portfolio-card" >
				  <img src="/static/assets/img/avatars/{{member.image_file}}" class="card-img-top">
				  <div class="card-body d-flex flex-column">
					<h5 class="card-title mt-auto mb-2">{{member.firstname}} {{member.lastname}}</h5>
					{% if member.ns_name %}
					<h6 class="fw-bold text-danger">{{member.ns_name}}</h6>
					{% else %}
					<h6> </h6>
					{% endif %}
				  </div>
					</a>
				</div>
			  </div>
		{% endfor %}
	</div>
</div>
{% endblock content %}