{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
   			{% if messages %}
	   			{% for category, message in messages %}
		   			<div class="mt-2 alert alert-{{ category }}">
			   			{{ message }} 
		   			</div>
	   			{% endfor %}
   			{% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4 rounded rounded-3 mb-5">
			<div class="card p-4 card-bg-red">
				<div class="row">
					<img src="{{ profile_picture }}" class="img-fluid mb-4" >
				</div>
				<div class="row mb-2">
					<h2 class="text-light profile-section-header">{{ current_user.firstname }} {{ current_user.lastname }}</h2>
				</div>
				<div class="row">
					<h5 class="Montserrat mt-4 profile-category">Role</h5>
					<h4 class='Montserrat text-light'>{{ current_user.job_title }}</h4>
				</div>
				<div class="row">
					<h5 class="Montserrat mt-4 profile-category">National Society</h5>
					<h4 class='Montserrat text-light'>{{ ns_association }}</h4>
				</div>
			</div>
			
			<div class="card p-4 card-bg-red mt-3">
				<div class="row my-2">
					<div>
						<h5 class="profile-category pb-2 Montserrat">Profile Management</h5>
					</div>
					<div>
						<button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="fw-bold">View Options</span></button>
					</div>
				</div>
			</div>
			
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h4 class="offcanvas-title Montserrat text-danger" id="offcanvasNavbarLabel">Profile Management</h4>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a href="{{ url_for('users.update_profile') }}" class="d-block">
						  <button class="btn btn-secondary w-100 mt-2 text-left" style="text-align: left !important;">Update Profile</button>
						</a>
					</li>
					<li class="nav-item">
						<a href="/save_work_location/{{user_info.id}}" class="d-block">
						  <button class="btn btn-secondary w-100 mt-2 text-left" style="text-align: left !important;">Save Work Location</button>
						</a>
					</li>
					<li class="nav-item">
						<a href="/reset_password" class="d-block">
						  <button class="btn btn-secondary w-100 mt-2 text-left" style="text-align: left !important;">Reset Password</button>
						</a>
					</li>
					<li class="nav-item">
						<a href="/user/save_slack_photo/{{current_user.id}}" class="d-block">
						  <button class="btn btn-secondary w-100 mt-2 text-left" style="text-align: left !important;">Use Slack Photo</button>
						</a>
					</li>
					<li class="nav-item">
						<a href='#' data-toggle="modal" data-target="#confirm-delete" class="d-block">
						  <button class="btn btn-danger w-100 mt-2 text-left" style="text-align: left !important;">Delete Account</button>
						</a>
					</li>
				</ul>
				<div class="mt-5 pe-3">
					<div class="alert alert-secondary">
						<h5 class="Montserrat text-dark mb-3">About the "Use Slack Photo" Option</h5>
						<p>This feature uses your associated Slack ID to download the avatar you've saved to your SIMS Slack account. If you use this option and change your mind, you can still upload a new photo to your SIMS Portal profile by using the "Update Profile" option.</p>
					</div>
				</div>
			  </div>
			</div>
			  
			<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Delete Your SIMS Account</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<span class='fw-bold'>Was it something we said?</span> <br><br> Are you sure you want to delete your account? You will lose all data associated with it.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
							<a href="/user/delete/{{current_user.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
						</div>
					</div>
				</div>
			</div>
			  
			
				<div class="card border border-3 p-4 bg-light mt-3">
					<div class="row my-2">
						<div>
							<div class="d-flex justify-content-start">
							<h5 class="text-secondary Montserrat">Support Profiles</h5>
							<a href='/support_profiles/{{current_user.id}}'><small class='px-3'>See Tiers</small></a>
							</div>
							<div class="row row-cols-xxl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-2 g-4 mt-2">
								{% for profile in qualifying_profile_list %}
								<img class='my-2 img-fluid' src='/static/assets/img/Profile-Badge-{{profile.image}}-sm.png' data-toggle="tooltip" data-placement="top" title="{{profile.name}}">
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="row mt-3">
						<div>
						<h5 class="text-secondary Montserrat">Skills</h5>
						{% for skill in skills_list %}
							<button type="button" class="btn btn-dark btn-sm mb-2">{{skill.name}}</button>
						{% endfor %}
						</div>
					</div>
					
					<div class="row">
						<div>
						<h5 class="text-secondary Montserrat mt-4">Languages</h5>
						{% for language in languages_list %}
							<button type="button" class="btn btn-dark btn-sm mb-2">{{language.name}}</button>
						{% endfor %}
						</div>
					</div>
				
					<div class="row">
						<div>
						<h5 class="text-secondary Montserrat mt-4">Contact</h5>
						<a href="mailto: {{user_info.email}}"'><img src='/static/assets/img/profile-email.png' height='50px'></a>
						{% if user_info.twitter %}
							<a href='https://twitter.com/{{user_info.twitter}}'><img src='/static/assets/img/profile-twitter.png' height='50px'></a>
						{% endif %}
						{% if user_info.github %}
							<a href='https://github.com/{{user_info.github}}'><img src='/static/assets/img/profile-github.png' height='50px'></a>
						{% endif %}
						{% if user_info.slack_id %}
							<a href='https://sims-ifrc.slack.com/team/{{user_info.slack_id}}'><img src='/static/assets/img/profile-slack.png' height='50px'></a>
						{% endif %}
						</div>
					</div>
				
					{% if user_info.place_label %}
					<div class="row">
						<div>
						<h5 class="text-secondary Montserrat mt-4">Location</h5>
							<p class="text-danger fw-bold">{{user_info.place_label}}</p>
						</div>
					</div>
					{% endif %}
				</div>
				

		</div>
		<div class="col ms-4">
			<div class='mb-5'>
				{% if current_user.status == 'Pending' %}
				<div class="alert alert-warning mb-4" role="">
					Hi {{ current_user.firstname }}, your account is still pending approval by a SIMS administrator. 
				</div>
				{% endif %}
				<h3 class="mb-3 text-danger profile-section-header">About {{ user_info.firstname }}</h3>
				{% if user_info.bio %}
					<p style="white-space: pre-line">{{ user_info.bio|markdown}}</p>
				{% else %}
					No information shared yet.
				{% endif %}
			</div>
			<div class='mb-5'>
				<h3 class="mb-3 text-danger profile-section-header">Operations Supported: <span class='text-dark'>{{ deployment_history_count }}</span></h3>
				{% if deployment_history_count == 0 %}
					No deployments or remote support provided yet.
				{% else %}
				<table class="table" id='datatable-member-assignments'>
			  	<thead>
					<tr>
				  	<th>Event</th>
				  	<th>Assignment</th>
					</tr>
			  	</thead>
			  	<tbody>
				  	{% for assignment in assignment_history %}
				  	<tr>
						<td class="fw-bold"><a href="/emergency/{{assignment.Emergency.id}}" class="link-danger">{{assignment.Emergency.emergency_name}}</a></td>
						<td><a href='/assignment/{{assignment.Assignment.id}}'>{{assignment.Assignment.role}}</a></td> 
				  	{% endfor %}
			  	</tbody>
				</table>
				{% endif %}
			</div>
			<div class='mb-5'>
				<h3 class="mb-3 text-danger profile-section-header">Portfolio Highlights: <span class='text-dark'>{{user_portfolio_size}}</h3>
				<div class="row row-cols-3 row-cols-md-3 g-4 my-4">
				{% for product in user_portfolio %}
					<div class="col d-flex align-items-stretch">
						<a href="/portfolio/view/{{product.id}}">
						<div class="card" id="portfolio-card" style="width: 18rem;">
							{% if 'user' in product.image_file %}
							<img src="/uploads/{{product.image_file}}" class="card-img-top" alt="Product Image">
							{% else %}
							<img src="/static/assets/img/portfolio_placeholders/{{product.image_file}}" class="card-img-top" alt="Product Placeholder Icon">
							{% endif %}
					  	<div class="card-body d-flex flex-column">
							<div class='pb-4'><button type="button" class="btn btn-secondary btn-sm">{{product.type}}</button></div>
							<h5 class="card-title Montserrat mt-auto">{{product.title}}</h5>
							</a>
					  	</div>
						</div>
					</div>
				{% endfor %}
				</div>
				{% if user_portfolio_size > 3 %}
				<div class='mb-5'>
					<a href='/portfolio/profile_more/{{current_user.id}}'><button type="button" class="btn btn-secondary">View All of {{current_user.firstname}}'s' Products</button></a>
				</div>
				{% endif %}
			</div>
			
			<div class='mb-3'>
				<h3 class="mb-2 text-danger profile-section-header">Badges: <span class='text-dark'>{{ count_badges }}</span></h3>
				<div class="row row-cols-4 row-cols-md-4 g-4 mt-2">
				{% for badge in badges %}
					<div class="col d-flex align-items-stretch">
					  	<a href='/badges#{{badge.id}}'><img src="/uploads/{{badge.badge_url}}" class="img-fluid"></a>
				  	</div>
				{% endfor %}
				</div>
				{% if count_badges > 4 %}
				<div class='my-4'>
					<a href='/badges_more/{{current_user.id}}'><button type="button" class="btn btn-secondary">View All of {{current_user.firstname}}'s' Badges</button></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}