{% extends "layout.html" %}
{% block content %}
	<div class="container mb-5">
		<div id="hideMe">
			{% with messages = get_flashed_messages(with_categories=true) %}
				   {% if messages %}
					   {% for category, message in messages %}
						   <div class="mt-4 alert alert-{{ category }}">
							   {{ message }} 
						   </div>
					   {% endfor %}
				   {% endif %}
			{% endwith %}
		</div>
		<div class="row mt-5">
			<div class="col-md-5 pe-5">
			<h2 class="text-danger pb-4 Montserrat mt-4">Registration Process</h2>
				<h5 class="text-secondary Montserrat">Submit Registration</h5>
				<p id="assignment-guidance">Fill out this form to create an account. You will be able to log into the portal, but with limited access.</p>
				
				<h5 class="text-secondary Montserrat mt-4">SIMS Governance Committee Reviews</h5>
				<p id="assignment-guidance">After receiving your registration information, members from the network will review it and determine whether you're a good fit.</p>

				<h5 class="text-secondary Montserrat mt-4">SIMS Onboarding Session</h5>
				<p id="assignment-guidance">A SIMS member will schedule a call to walkthrough the way the network operates and get you started with the tools we use to communicate with each other.</p>

				<h5 class="text-secondary Montserrat mt-4">You're Ready to Contribute!</h5>
				<p id="assignment-guidance">Once you become an active SIMS member, you're ready to support operations. Various training paths exist to help you up-skill in technical areas.</p>
			</div>
		<div class="col pb-4">
			<form method="POST" action="" class="mx-auto p-4 bg-light text-light rounded-3 border border-3" novalidate>
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<h5 class='text-secondary Montserrat mb-4'>All Fields Required</h5>
					<div class='row'>
						<div class='col'>
							<div class="form-group pb-4">
								{{ form.firstname.label(class="form-control-label pb-2 text-danger") }}
								
								{% if form.firstname.errors %}
									{{ form.firstname(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.firstname.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.firstname(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
						<div class='col'>
							<div class="form-group pb-4">
								{{ form.lastname.label(class="form-control-label pb-2 text-danger") }}
								
								{% if form.lastname.errors %}
									{{ form.lastname(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.lastname.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.lastname(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col'>
							<div class="form-group pb-4">
								{{ form.email.label(class="form-control-label pb-2 text-danger") }}
								{% if form.email.errors %}
									{{ form.email(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.email.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.email(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
						<div class='col'>
							<div class="form-group pb-4">
								{{ form.ns_id.label(class="form-control-label pb-2 text-danger") }}
								{% if form.ns_id.errors %}
									{{ form.ns_id(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.ns_id.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.ns_id(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-8'>
							<div class="form-group pb-4">
								{{ form.slack_id.label(class="form-control-label pb-2 text-danger") }}
								{% if form.slack_id.errors %}
									{{ form.slack_id(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.slack_id.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
								{% else %}
									{{ form.slack_id(class="form-control form-control-lg") }}
								{% endif %}
							</div>
						</div>
						<div class='col d-flex align-items-center'>
							<a class='btn btn-outline-danger w-100' href='/get_slack_id'>Finding your Slack ID</a>
						</div>
					</div>
						<div class='row'>
							<div class='col'>
								<div class="form-group pb-4">
									{{ form.password.label(class="form-control-label pb-2 text-danger") }}
									{% if form.password.errors %}
										{{ form.password(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.password.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
									{% else %}
										{{ form.password(class="form-control form-control-lg") }}
									{% endif %}
								</div>
							</div>
							<div class='col'>
								<div class="form-group pb-4">
									{{ form.confirm_password.label(class="form-control-label pb-2 text-danger") }}
									{% if form.confirm_password.errors %}
										{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.confirm_password.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
									{% else %}
										{{ form.confirm_password(class="form-control form-control-lg") }}
									{% endif %}
								</div>
							</div>
						</div>
						
					
					
					{{ form.submit(class="btn btn-danger w-25") }}
				</fieldset>
			</form>
	</div>
		</div>
	</div>
{% endblock content %}