{% extends "layout.html" %}
{% block content %}
<style>
	a {
		color: #CE454A
	}
	ul.timeline {
		list-style-type: none;
		position: relative;
	}
	ul.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 0%;
		z-index: 400;
	}
	ul.timeline > li {
		margin: 40px 0;
		padding-left: 20px;
	}
	ul.timeline > li:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #CE454A;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index: 400;
	}
</style>
	<div class="container mb-5">
		<div class="mt-4" id="hideMe">
			{% with messages = get_flashed_messages(with_categories=true) %}
				   {% if messages %}
					   {% for category, message in messages %}
						   <div class="alert alert-{{ category }}">
							   {{ message }} 
						   </div>
					   {% endfor %}
				   {% endif %}
			{% endwith %}
		</div>
		<div class="row mt-5">
			<div class="col-md-6">
			<h2 class="text-danger pb-4">Registration Process</h2>
				<ul class="timeline">
					<li>
						<h5 class="text-danger">Submit Registration</h5>
						<p id="assignment-guidance">Fill out this form to create an account. You will be able to log into the portal, but with limited access.</p>
					</li>
					<li>
						<h5 class="text-secondary">SIMS Governance Committee Reviews</h5>
						<p id="assignment-guidance">After receiving your registration information, members from the network will review it and determine whether you're a good fit.</p>
					</li>
					<li>
						<h5 class="text-secondary">SIMS Onboarding Session</h5>
						<p id="assignment-guidance">A SIMS member will schedule a call to walkthrough the way the network operates and get you started with the tools we use to communicate with each other.</p>
					</li>
					<li>
						<h5 class="text-secondary">You're Ready to Contribute!</h5>
						<p id="assignment-guidance">Once you become an active SIMS member, you're ready to support operations. Various training paths exist to help you up-skill in technical areas. <a href="#">Learn more about training paths.</a></p>
					</li>
				</ul>
			</div>
		<div class="col-md-6 pb-4">
			<form method="POST" action="" class="mx-auto p-4 bg-light text-light rounded-3" novalidate>
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<div class="form-group pb-4">
						{{ form.firstname.label(class="form-control-label pb-2 text-danger") }}
						
						{% if form.firstname.errors %}
							{{ form.firstname(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.firstname.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.firstname(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					
					<div class="form-group pb-4">
						{{ form.lastname.label(class="form-control-label pb-2 text-danger") }}
						
						{% if form.lastname.errors %}
							{{ form.lastname(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.lastname.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.lastname(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group pb-4">
						{{ form.email.label(class="form-control-label pb-2 text-danger") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group pb-4">
						{{ form.ns_id.label(class="form-control-label pb-2 text-danger") }}
						{% if form.ns_id.errors %}
							{{ form.ns_id(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.ns_id.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.ns_id(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group pb-4">
						{{ form.password.label(class="form-control-label pb-2 text-danger") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group pb-4">
						{{ form.confirm_password.label(class="form-control-label pb-2 text-danger") }}
						{% if form.confirm_password.errors %}
							{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.confirm_password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.confirm_password(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					{{ form.submit(class="btn btn-outline-danger") }}
				</fieldset>
			</form>
	</div>
		</div>
	</div>
{% endblock content %}