{% extends "layout.html" %}
{% block content %}
<div class='container'>
	<div id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="mt-2 alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="wrapper">
		{% if story_data.header_image %}
			<img src="/uploads/{{story_data.header_image}}" class='img-fluid'/>
			{% else %}
			<img src="/static/assets/img/stories/default-banner.jpg" class='img-fluid'/>
		{% endif %}
		<div class="overlay">
			<h2 class="header">{{emergency_name.Emergency.emergency_name}}</h2>
		</div>
	</div>
	<figcaption class="figure-caption">{{story_data.header_caption}}</figcaption>
	<div class='row my-5'>
		<div class='col'>
			{{ story_data_html|safe }}
		</div>
		<div class='col-md-3 ps-5 pe-4'>
			{% if current_user.is_admin == 1 %}
			<a href="/story/edit/{{story_data.emergency_id}}" class="list-group-item list-group-item-secondary mb-2">Edit Story</a>
			{% endif %}
			<h3 class='Montserrat mb-3'>SIMS Support</h3>
		  	<div class="row mb-4">
				<img class='w-50' src="/static/assets/img/members.png"  class="mb-5" alt="Members Icon">
				<h5 class='text-danger Montserrat'>{{members_supporting}} Members</h5>
				<p class='lead'>provided support to the response</p>
		  	</div>
		  	<div class="row mb-4">
			  	<img class='w-50' src="/static/assets/img/products.png" class="mb-5" alt="Products Icon">
			  	<h5 class='text-danger Montserrat'>{{products_created}} Products</h5>
			  	<p class='lead'>created and publicly available</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}