{% extends "layout.html" %}
{% block content %}
<div class="container mb-5">
	<div class=" row mt-5">
		<h3 class="Montserrat sims-blue">{{this_user.firstname}} {{this_user.lastname}}'s Support Profiles</h3>
		<div class='mb-3'>
			<div class="row row-cols-4 row-cols-md-4 g-4 mt-2">
			{% for profile in list_profiles %}
				<div class="col d-flex align-items-stretch">
					  <a href='/role_profile/{{profile.image}}'><img src="/static/assets/img/Profile-Badge-{{profile.image}}-{{profile.tier}}.png" class="img-fluid"></a>
				  </div>
			{% endfor %}
			</div>
		</div>
</div>
</div>
{% endblock content %}